
.gridContact{
    display: grid;
    grid-template-columns: 1fr 20fr;
    overflow: hidden;
}

.firstContact{
    display: flex;
    align-items: center;
    justify-content: center;
}


.secondContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.video{
    width: 50vw;
    max-height: fit-content;
}