
/* background-color: #b2b2b2; this is the exact shade that is defaulting to when I put white */

/*For the show all button for experience content*/
.showAll{
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
    margin-top: 20px;
    margin-right: 3%;
    position: absolute;
    right: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: medium;
}

/* for the intern link to the instagram page */
.linkedGrid{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.linkedGrid:hover{
    color: red;
}

/* affects the a tags... all the clickables on the bar at the beginning of the page*/
.linkedDecoration{
    all: unset;
    height: fit-content;
    width:fit-content;
    z-index: 9999;
    color: #0109BD;
    font-size: x-large;
}

.linkedDecoration:hover{
    cursor: pointer;
    color: white;
    font-weight: bold;
}


.gridLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 5%;
    background-color: white;
    /* background: linear-gradient(to right, #031D3E, #0560BB); */
}

/*support*/
.supported{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 10px;
    /* background-color: whitesmoke */
    /* border: 5px solid black; */

}


.imageTwo{

    width: 100%;
    height: 20vw;
    object-fit: cover;
    border: 3px solid black;


    /* width: 80%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%; 
    text-align: center;
    line-height: 100px; */
}



.top{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* Container for the background image */
.image-container {
    position: relative;
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    background-image: url('../../images/intro.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    color: white; /* Ensure text color is white for contrast */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Overlay to darken the background */
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity for lightness or darkness */
    z-index: 1; /* Ensures overlay is above the image but behind the text */
  }
  
  /* Ensure text appears above the overlay */
  .image-container h1,
  .image-container p {
    position: relative;
    z-index: 2; /* Makes sure text stays above the overlay */
  }

.gridTitle{
    font-size: 4vw;
    color: black;
    /* color: #0109BD; */
}

.gridOffers{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.item{
    box-shadow: 0px 0px 10px 0px;
    padding:10px 10px 10px 10px;
}

.gridImages{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.gridTitles{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #0109BD; */
}

/*support and send message*/
.mightGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
}

/*send message*/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5%;
    /* background-color: black; */
}


/*subscribe enter email*/
.innerF{
    width: 80%;
    height: 5vh;
}

/* send message , enter message*/
.innerA{
    width: 80%;
    height: 20vh;
}

/* send message button*/
.innerB{
    width: 80%;
    height: 5vh;
    cursor: pointer;
}

.innerB:hover{
    transform: translateY(-5px); /* Moves the button up slightly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}

/*WITHIN:::::: FOR THE BAR OF WORDS ................*/
.contain{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px 0;
}

.bar{
    display: flex;
    animation: roll 60s linear infinite;
}

.word{
    flex-shrink: 0;
    margin-right: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

@keyframes roll {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
    
}

 /* WITHIN */



/* Adjustments for Small Screens */
@media screen and (max-width: 768px) {

    .gridTitle{
        font-size: 6vw;
        width: 90%;
    }

    .gridOffers {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    .item {
        padding: 5px;
    }

    .gridImages {
        height: auto;
        width: 100%;
    }

    .supported {
        padding-left: 5%;
        gap: 5px;
    }

    .innerF, .innerB {
        width: 90%;
    }

    .innerA {
        width: 90%;
        height: 15vh;
    }
}



















