

.infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.infoWhole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.infolabelName{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.infoButton{
    background-color: #209CEE;
    width: 10%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
    border: 2px solid black;
}

@media screen and (max-width: 768px) {
    .infoButton{
        width: 20%;

    }
}