.cards{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sub{
    size: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toBeDet{
    margin-top: 5%;
}

/* Media query for small screens (max-width: 600px) */
@media (max-width: 600px) {
    .cards {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  
    .sub {
      size: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .toBeDet {
      margin-top: 5%;
    }
  }
  