

.lPageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}


/*Login page Button ONLY */
.lButton{
    background-color: #209CEE;
    border: 2px solid black;

    font-weight: bold;
    color: white;
  
    width: 10%;
    height: 40px;
    cursor: pointer;

    margin-bottom: 3%;
}


/* Adjustments for Small Screens */
@media screen and (max-width: 768px) {
    .lButton{
        width: 20%;
    }
}



















