
.orderWhole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.orderInside{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

.orderTitle{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2vh;
}

.orderButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 5vh;
}

.entire{
    padding-bottom: 20px;
}

.ordersEditButton{
    background-color: #209CEE;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
    border: 2px solid black;
}

.ordersFinishButton{
    background-color: #209CEE;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
    border: 2px solid black;
}